In [38]:
import pandas as pd

def func_pars(filepath, sht):  
    df = pd.read_excel(filepath, sheet_name=sht)

    # Evaluar si la hoja es la mensual o es de especialidad, 
    #** Agregar validaciones adicionales para asegurar que solo se procese el file correcto
    if sht == "Mensual":   
        tipo_hoja = "Mensual"
    else:
        tipo_hoja = "Especialidad"

    # Eliminar filas y columnas vacías

    df.dropna(axis = 0,how = "all",inplace = True)  
    df.dropna(axis = 1,how = "all",inplace = True)  
    df = df.reset_index(drop=True)

    # Eliminar fila extra de la hoja "Mensual"

    if tipo_hoja == "Mensual":
        df.drop(2, inplace = True)
        df = df.reset_index(drop=True)

    # La hoja "Especialidad" tiene una columna adicional que permite identificar la tabla donde se encuentra el agregado de datos 
    # Se eliminan las otras filas y se actualiza el df al tamaño correcto para procesarlo

    elif tipo_hoja == "Especialidad":
        indexnum = int(df.loc[df.iloc[:,0] == "TOTAL"].index[0])

        df = df.iloc[indexnum:]

        nombre_esp = df.iloc[0,1]
        codigo_esp = sht  #depende de cada hoja
        df = df.iloc[:,1:] 

    # Generar una tabla(Posible serie), de las horas contratadas, programadas, etc.
    # Se hace un slice de las primeras dos filas, y se eliminan vacios 

    df_jornada = df.iloc[1:3,1:8].copy() 
    df_jornada.dropna(axis = 1,how = "all",inplace = True)
    df_jornada.columns = df_jornada.iloc[0]
    df_jornada = df_jornada[1:]
    df_jornada = df_jornada.reset_index(drop=True)
    df_jornada.columns.rename("",inplace=True)
    df_jornada = df_jornada.transpose()
    df_jornada.rename(columns={0: 'Horas'},inplace= True)

    # Replicar la tabla de excel con las horas utilizadas por actividad
    # Se hace un slice de las primeras filas 3 a 17  , se eliminan vacios y se nombran columnas de acuerdo al excel

    df_tiempo = df.iloc[3:18].copy()
    df_tiempo.dropna(axis = 1,how = "all",inplace = True)
    df_tiempo.dropna(axis = 0,how = "all",inplace = True)
    df_tiempo.columns = ['Actividad', 'Programado', 'Utilizado', 'N° Actividades']
    df_tiempo = df_tiempo.reset_index(drop=True)

    # Replicar la tabla de excel del resumen del mes con los totales de consultas por cada categoria

    # Se hace un slice de las primeras filas 18 en adelante, se eliminan vacios full y se auto completan algunas categorias faltantes
    df_total = df.iloc[18:].copy()
    df_total.dropna(axis = 1,how = "all",inplace = True)
    df_total[:3].fillna(method="ffill", axis=1,inplace = True)
    df_total[:3].fillna(method="ffill", axis=0,inplace = True)

    # Se transpone la tabla para concatenar las categorias y unificarlas en una sola columna(celdas combinadas de excel) 
    df_total = df_total.transpose()
    df_total.iloc[1, 1] = df_total.iloc[1, 1] +" - "+ df_total.iloc[1, 2]
    df_total.iloc[2:6, 1] = df_total.iloc[2:6, 1].astype(str) +" - "+ df_total.iloc[2:6, 2].astype(str) +" - "+ df_total.iloc[2:6, 3].astype(str)
    df_total.iloc[1:-3, 0] = df_total.iloc[1:-3, 0].astype(str) +" - "+ df_total.iloc[1:-3, 1].astype(str)

    #Se eliminan las columnas que tenian las subcategorias, y se reindexa
    df_total.drop(df_total.columns[[1, 2, 3]],axis = 1, inplace = True)
    df_total.columns = df_total.iloc[0]
    df_total = df_total[1:]
    df_total = df_total.reset_index(drop=True)
    df_total.columns.rename("",inplace=True)
    df_total.iloc[:, 0] = df_total.iloc[:, 0].str.replace('Frecuencia (marcar solo una)', 'Frecuencia', regex=False)

    # Se transpone la tabla para volver al formato original (validar si vale la pena)
    df_total = df_total.transpose()
    df_total.columns = df_total.iloc[0]
    df_total = df_total[1:]

    return {
        'df_jornada': df_jornada,
        'df_tiempo': df_tiempo,
        'df_total': df_total
        }

In [39]:
import pandas as pd
pd.set_option('mode.chained_assignment', None)
filepath = "Prueba.xlsx"

xls = pd.ExcelFile(filepath)

sheet_names = xls.sheet_names

result_dataframes = {}

for sht in sheet_names:    
    result_dataframes[sht] = func_pars(filepath, sht)

In [40]:
result_dataframes["Mensual"]["df_tiempo"]

                   Actividad Programado Utilizado N° Actividades
0   Actividad administrativa          2         0              0
1               Alimentación          1         0            NaN
2               Capacitación          2         0              0
3                   Comisión          1         0              0
4           Consulta Externa          2         0            NaN
5                   Docencia          1         0              0
6                Emergencias          2         0              0
7             Esterilización          1         0              0
8            Hospitalización          2         0              0
9       Prevención colectiva          1         0              0
10     Promoción de la salud          2         0              0
11                 Reuniones          1         0              0
12            Sesión clínica          2         0              0
13                 Traslados          1         0              0
14                     Otro           2         0              0

In [30]:
df_jornada = df.iloc[1:3,1:8].copy() 
df_jornada.dropna(axis = 1,how = "all",inplace = True)
df_jornada.columns = df_jornada.iloc[0]
df_jornada = df_jornada[1:]
df_jornada = df_jornada.reset_index(drop=True)
df_jornada.columns.rename("",inplace=True)
df_jornada = df_jornada.transpose()
df_jornada.rename(columns={0: 'Horas'},inplace= True)
df_jornada

8

In [192]:

df_tiempo = df.iloc[3:18].copy() #3 a 18 para especialidades, 4 a 19 para el mensual por el texto de "RESUMEN MENSUAL "
df_tiempo.dropna(axis = 1,how = "all",inplace = True)
df_tiempo.dropna(axis = 0,how = "all",inplace = True)
df_tiempo.columns = ['Actividad', 'Programado', 'Utilizado', 'N° Actividades']
df_tiempo = df_tiempo.reset_index(drop=True)
df_tiempo

                   Actividad Programado Utilizado N° Actividades
0   Actividad administrativa          0         0              0
1               Alimentación          0         0            NaN
2               Capacitación          0         0              0
3                   Comisión          0         0              0
4           Consulta Externa          0         0            NaN
5                   Docencia          0         0              0
6                Emergencias          0         0              0
7             Esterilización          0         0              0
8            Hospitalización          0         0              0
9       Prevención colectiva          0         0              0
10     Promoción de la salud          0         0              0
11                 Reuniones          0         0              0
12            Sesión clínica          0         0              0
13                 Traslados          0         0              0
14                     Otro           0         0              0

In [201]:
df_total = df.iloc[18:].copy()
df_total.dropna(axis = 1,how = "all",inplace = True)

df_total[:3].fillna(method="ffill", axis=1,inplace = True)
df_total[:3].fillna(method="ffill", axis=0,inplace = True)


df_total = df_total.transpose()


df_total.iloc[1, 1] = df_total.iloc[1, 1] +" - "+ df_total.iloc[1, 2]
df_total.iloc[2:6, 1] = df_total.iloc[2:6, 1].astype(str) +" - "+ df_total.iloc[2:6, 2].astype(str) +" - "+ df_total.iloc[2:6, 3].astype(str)
df_total.iloc[1:-3, 0] = df_total.iloc[1:-3, 0].astype(str) +" - "+ df_total.iloc[1:-3, 1].astype(str)
df_total.drop(df_total.columns[[1, 2, 3]],axis = 1, inplace = True)
df_total.columns = df_total.iloc[0]
df_total = df_total[1:]
df_total = df_total.reset_index(drop=True)
df_total.columns.rename("",inplace=True)
df_total.iloc[:, 0] = df_total.iloc[:, 0].str.replace('Frecuencia (marcar solo una)', 'Frecuencia', regex=False)
df_total = df_total.transpose()
df_total.columns = df_total.iloc[0]
df_total = df_total[1:]

df_total

C:\Users\Public\Documents\Wondershare\CreatorTemp\ipykernel_19548\1603640064.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_total[:3].fillna(method="ffill", axis=1,inplace = True)
C:\Users\Public\Documents\Wondershare\CreatorTemp\ipykernel_19548\1603640064.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_total[:3].fillna(method="ffill", axis=0,inplace = True)

RESUMEN DEL MES,Frecuencia - Primera vez - Vida,Frecuencia - Primera vez - Año - Nuevo,Frecuencia - Primera vez - Año - Control,Frecuencia - Primera vez - Espec. - Nuevo,Frecuencia - Primera vez - Espec. - Control,Frecuencia - Subsecuente,Pimera vez - Embarazo,Pimera vez - Preventivo,Citas - Ausente,Citas - Recargo,...,Acciones - Prost. No Esp.,Acciones - Prostod. Espec.,Referencia - Recibida,Referencia - Atendida,Referidos a - Especialista,Referidos a - Hospitalizac.,Referidos a - Otro centro,Contrareferecnia,Placas,Alta
,,,,,,,,,,,,,,,,,,,,,
TOTAL,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Niño,0,0,0,0,0,0,0,0,NaN,0,...,0,0,0,0,0,0,0,0,0,0
Adolescente,0,0,0,0,0,0,0,0,NaN,0,...,0,0,0,0,0,0,0,0,0,0
Hombre,0,0,0,0,0,0,0,0,NaN,0,...,0,0,0,0,0,0,0,0,0,0
Mujer,0,0,0,0,0,0,0,0,NaN,0,...,0,0,0,0,0,0,0,0,0,0
Adulto Mayor,0,0,0,0,0,0,0,0,NaN,0,...,0,0,0,0,0,0,0,0,0,0