In [1]:
import pandas as pd

df = pd.read_excel("Prueba.xlsx", sheet_name="Hoja1")
df.dropna(axis = 0,how = "all",inplace = True)
df.dropna(axis = 1,how = "all",inplace = True)

df

,Unnamed: 0,Unnamed: 5,Unnamed: 8,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,...,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50,Unnamed: 51,Unnamed: 52,Unnamed: 53,Unnamed: 54,Unnamed: 55,Unnamed: 56
0,TOTAL DEL MES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,DISTRIBUCION DE TIEMPO,Contratado,Programado,NaN,Utilizado,NaN,NaN,N° Actividades,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,8,7,NaN,7,NaN,NaN,5,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Actividad administrativa,NaN,2,NaN,0,NaN,NaN,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Alimentación,NaN,1,NaN,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Capacitación,NaN,2,NaN,0,NaN,NaN,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Comisión,NaN,1,NaN,0,NaN,NaN,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Consulta Externa,NaN,2,NaN,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Docencia,NaN,1,NaN,0,NaN,NaN,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Emergencias,NaN,2,NaN,0,NaN,NaN,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Esterilización,NaN,1,NaN,0,NaN,NaN,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Hospitalización,NaN,2,NaN,0,NaN,NaN,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Prevención colectiva,NaN,1,NaN,0,NaN,NaN,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Promoción de la salud,NaN,2,NaN,0,NaN,NaN,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Reuniones,NaN,1,NaN,0,NaN,NaN,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Sesión clínica,NaN,2,NaN,0,NaN,NaN,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Traslados,NaN,1,NaN,0,NaN,NaN,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Otro,NaN,2,NaN,0,NaN,NaN,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,RESUMEN DEL MES,NaN,NaN,Frecuencia (marcar solo una),NaN,NaN,NaN,NaN,NaN,Pimera vez,...,NaN,NaN,Referencia,NaN,Referidos a,NaN,NaN,Contrareferecnia,Placas,Alta
21,NaN,NaN,NaN,Primera vez,NaN,NaN,NaN,NaN,Subsecuente,Embarazo,...,Prost. No Esp.,Prostod. Espec.,Recibida,Atendida,Especialista,Hospitalizac.,Otro centro,NaN,NaN,NaN
22,NaN,NaN,NaN,Vida,Año,NaN,Espec.,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,Grupo Edad,NaN,NaN,NaN,Nuevo,Control,Nuevo,Control,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,TOTAL,NaN,NaN,1,2,1,1,5,2,1,...,2,2,2,2,2,2,2,2,2,2
25,Niño,NaN,NaN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,Adolescente,NaN,NaN,0,2,0,0,0,0,0,...,2,2,2,2,2,2,2,2,2,0
27,Hombre,NaN,NaN,1,0,0,1,5,0,1,...,0,0,0,0,0,0,0,0,0,0
28,Mujer,NaN,NaN,0,0,1,0,0,2,0,...,0,0,0,0,0,0,0,0,0,2
29,Adulto Mayor,NaN,NaN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [182]:
df_tiempo = df.iloc[1:19].copy()
df_tiempo.dropna(axis = 1,how = "all",inplace = True)
df_tiempo.drop(columns = df_tiempo.columns[-1], inplace=True)
df_tiempo.dropna(axis = 0,how = "all",inplace = True)
df_tiempo.columns = df_tiempo.iloc[0]
df_tiempo = df_tiempo[1:]
df_tiempo

1    DISTRIBUCION DE TIEMPO  Contratado Programado Utilizado N° Actividades
3                        NaN          8          7         7              5
5   Actividad administrativa        NaN          2         0              0
6               Alimentación        NaN          1         0            NaN
7               Capacitación        NaN          2         0              0
8                   Comisión        NaN          1         0              0
9           Consulta Externa        NaN          2         0            NaN
10                  Docencia        NaN          1         0              0
11               Emergencias        NaN          2         0              0
12            Esterilización        NaN          1         0              0
13           Hospitalización        NaN          2         0              0
14      Prevención colectiva        NaN          1         0              0
15     Promoción de la salud        NaN          2         0              0
16                 Reuniones        NaN          1         0              0
17            Sesión clínica        NaN          2         0              0
18                 Traslados        NaN          1         0              0
19                     Otro         NaN          2         0              0

In [2]:
df_total = df.iloc[19:].copy()
df_total.dropna(axis = 1,how = "all",inplace = True)

df_total[:3].fillna(method="ffill", axis=1,inplace = True)
df_total[:3].fillna(method="ffill", axis=0,inplace = True)



df_total = df_total.transpose()



df_total.iloc[1, 1] = df_total.iloc[1, 1] +" - "+ df_total.iloc[1, 2]
df_total.iloc[2:6, 1] = df_total.iloc[2:6, 1].astype(str) +" - "+ df_total.iloc[2:6, 2].astype(str) +" - "+ df_total.iloc[2:6, 3].astype(str)
df_total.iloc[1:, 0] = df_total.iloc[1:, 0].astype(str) +" - "+ df_total.iloc[1:, 1].astype(str)
df_total.drop(df_total.columns[[1, 2, 3]],axis = 1, inplace = True)
df_total.columns = df_total.iloc[0]
df_total = df_total[1:]
df_total = df_total.reset_index(drop=True)
df_total.columns.rename("",inplace=True)
df_total = df_total.transpose()
df_total.columns = df_total.iloc[0]
df_total = df_total[1:]

df.info
df.head(3)

C:\Users\Public\Documents\Wondershare\CreatorTemp\ipykernel_784\271216120.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_total[:3].fillna(method="ffill", axis=1,inplace = True)
C:\Users\Public\Documents\Wondershare\CreatorTemp\ipykernel_784\271216120.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_total[:3].fillna(method="ffill", axis=0,inplace = True)

,Unnamed: 0,Unnamed: 5,Unnamed: 8,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,...,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50,Unnamed: 51,Unnamed: 52,Unnamed: 53,Unnamed: 54,Unnamed: 55,Unnamed: 56
0,TOTAL DEL MES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,DISTRIBUCION DE TIEMPO,Contratado,Programado,NaN,Utilizado,NaN,NaN,N° Actividades,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN